/* RESET */
* {margin: 0; padding: 0; border: 0; box-sizing: border-box;}

body {font-family: 'Open Sans', sans-serif;}

nav, ul, ol, li {list-style: none;}

a:hover {opacity: 100%;}

/* HEADER */
header {display: flex; align-items: center; justify-content: space-between; width: 100%; padding: 20px 50px; background-color: #fff;}

header a {text-decoration: none; opacity: 0.9; color: #191c03; cursor: pointer; margin-left: 30px;}

header img {width: 200px;}

header nav {display: flex; justify-content: space-between;}

    header nav a:first-child {margin-left: 0;}

@media (max-width: 700px) 
{header {flex-direction: column;}
header nav {margin-top: 15px;}}

/* HERO */
.hero {height: 750px; min-width: 310px; background-image: url(img/hero.jpg); background-size: cover; display: flex; flex-direction: column; align-items: center; justify-content: center; color: #fff; margin-bottom: 50px;}

.hero h1 {font-size: 3.5rem; text-align: center; margin: 25px 50px;}

.hero h2 {font-size: 2rem; text-align: center; margin: 25px 50px;}

.hero a {text-decoration: none; color: #191c03; padding: 15px 50px; margin: 25px 50px; border-radius: 10px; text-transform: uppercase; background-color: rgba(255, 255, 255, 0.85);}

@media (max-width: 700px)
{.hero h1 {font-size: 2.5rem;}
.hero h2 {font-size: 1rem;}}

/* CONHEÇA O HOTEL #1 */
.chamado-1 {display: flex; flex-direction: column; text-align: center; padding: 50px; color: #191c03;}

.chamado-1 h2 {font-size: 2rem;}

.chamado-1 p {max-width: 700px; margin: 20px auto; padding: 15px; border-radius: 5px;}

.chamado-1 hr {height: 2px; width: 200px; margin: 0px auto; background-color: #191c03;}

.grid {display: flex; flex-wrap: wrap; justify-content: space-around; margin: 70px 0px;}

.grid li {background-size: cover; background-position: center; height: 300px; margin: 15px}

    .grid .large{flex-basis: 56%;}

    .grid .small{flex-basis: 36%;}

        .grid .img-um {background-image: url(img/itacare-01.jpg);}
        .grid .img-dois {background-image: url(img/itacare-02.jpg);}
        .grid .img-tres {background-image: url(img/itacare-03.jpg);}
        .grid .img-quatro {background-image: url(img/itacare-04.jpg);}

@media (max-width: 850px) 
{.chamado-1 {padding: 25px 50px;}
.grid .large, .grid .small {flex-basis: 100%;}
.grid li {margin: 10px;}}

/* CONHEÇA O HOTEL #2 */
.chamado-2 {display: flex; flex-direction: column; justify-content: space-between; text-align: center; padding: 50px 30px; background-color: #191c03;}

.chamado-2 h2 {font-size: 1.5rem; color: #fff}

.chamado-2 p {margin: 50px 0px; color: #fff}

.chamado-2 div {display: flex; justify-content: space-around; height: 65%;}

    .chamado-2 div li {display: flex; flex-direction: column; justify-content: space-between; text-align: center; width: 33%; margin: 10px 0px; color: #fff;}

        .chamado-2 div li img {margin: 0px auto;}

        .chamado-2 div li a {text-decoration: none; font-size: 2rem; color: #b0c705; margin: 10px 0px;}

        .chamado-2 div li p {height: 50%; margin: 0px 5px;}

@media (max-width: 1100px)
{.chamado-2 div li a {font-size: 1.5rem;}
.chamado-2 div li p {font-size: 0.8rem;}}

@media (max-width: 800px)
{.chamado-2 div {align-items: center; flex-direction: column;}
.chamado-2 div li {width: 80%; margin-top: 25px;}
.chamado-2 div li:first-child {margin-top: 0px;}}

/* NEWSLETTER */
.newsletter {display: flex; flex-direction: column; align-items: center; justify-content: space-between;  padding: 50px 50px; color: #191c03;}
.newsletter h2 {font-size: 2rem; margin-bottom: 20px;}
.newsletter p {max-width: 55%; text-align: center; }
.newsletter hr {width: 200px; height: 2px; margin: 20px auto; background-color: #191c03;}

form {width: 70%; display: flex; justify-content: space-around; border-style: none;}
#email {line-height: 50px; flex-basis: 80%; border-radius: 15px; border: 1px solid #191c03; padding: 0px 10px; margin: 10px 0px; cursor: pointer;}
#btn {line-height: 50px; flex-basis: 10%; text-align: center; border-radius: 15px; border: 1px solid #191c03; background-color: white; margin: 10px 0px; padding: 0px 10px; cursor: pointer;}

    #email:focus {outline: none;}
    #btn:hover {background-color: rgba(208, 235, 6, 0.7); outline: none;}

@media (max-width: 750px)
{form {flex-direction: column; align-items: center;}
#email {width: 100%; line-height: 35px; border-radius: 10px;}
#btn {width: 40%; line-height: 35px; border-radius: 10px; padding: 0px;}}

/* FOOTER */
footer {height: 150px; display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center; background-color: #191c03; color: #b0c705;}
footer img {margin: 15px 5px}
footer a {opacity: .7;}